@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./sass/fonts.scss";
@import "./sass/animations.scss";

:root {
  --primary-color: #f5f6f7;
  --secondary-color: #2d3033;
  --tertiary-color: #5b45ff;
  --quaternary-color: #d0f500;
  --white-color: #ffffff;
  --black-color: #000000;
}

html {
  scroll-behavior: smooth;
  font-family: Nebulas, sans-serif;
}

@layer base {
  body {
    @apply bg-primary-color text-secondary-color tracking-wide;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
  h1 {
    @apply text-5xl sm:text-6xl md:text-7xl;
  }
  h2 {
    @apply text-3xl sm:text-4xl md:text-5xl;
  }
  button {
    @apply shadow-xl shadow-gray-400 bg-tertiary-color text-white px-4 md:px-6  pt-2 pb-1 font-bold tracking-wider rounded-3xl hover:bg-quaternary-color hover:text-secondary-color transition-all duration-300 ease-in-out;
  }
}
