//Fonts
@font-face {
  font-family: "Nebulas";
  font-weight: bold;
  src: url("/fonts/nebulas/Nebulas-Bold.woff2") format("woff2");
  font-display: swap;
}
//Fonts
@font-face {
  font-family: "Nebulas";
  font-weight: normal;
  src: url("/fonts/nebulas/Nebulas-Regular.woff2") format("woff2");
}